  /* Full-width input fields */
  .inputBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .subbutton {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius:5px;
    cursor: pointer;
    width: 100%;
    transition:0.3s;
  }
  .subbutton:hover{
  color:black;
  background-color:white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
  color:white;
    width: auto;
    padding: 10px 18px;
    border:2px solid black;
    border-radius:5px;
    background-color: black;
    transition:0.3s
  }
  .cancelbtn:hover{
  color:black;
  background-color: transparent;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .avatar {
    font-size: 60px;
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.password {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  @media only screen  and (max-width:600px){
    .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  }
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.password {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
      
      /* Style the tab */
  .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    .loginopen{
      display: block;
    }
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
    }
    
    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    
    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  
  .mt-3{
    color: black;
  }
  svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4{
    color: black;
  }
  .fontlogo{
      font-size: 45px;
      padding-bottom: 10px;
      color: black;
  }
  .far{
    color: black;
  }
  .fas{
    color: black;
  }
  .py-24 {
  /* padding-top: 6rem; */
  padding-bottom: 6rem;
  padding-top: 0rem !important;
  }
  .forpad{
  padding-top: 6rem !important;
  }
  .object-cover:hover{
      scale: 1.1;
  }
  .bg-indigo-500{
    background-color: black;
    border:2px solid black;
    transition: 0.3s;
  }
  .bg-indigo-500:hover{
    color: black;
    background-color: transparent;
    border:2px solid black
  }  
  .weatherhead{
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-image: url('https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.288);
    height: 600px;
  }
  .head1{
    background-color: #ffffff85;
    z-index: 11;
  }
  .result{
      top:60px;
      display: grid;
      margin: 0 auto;
      position: relative;
      justify-content: start;
      align-content: space-evenly;
      align-items: start;
      justify-items: start;
      width: 1350px;
      text-align: left;
      color: white;
  }
  .centerDiv{
    width: 100%;
    padding: 50px;
    margin:0 auto;
  }
  .headflex{
    display: flex;
    justify-content: center;
  }
  .searchbutton{
    padding: 2px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 80px;
    margin-top: 10px;
    margin-left: 40%;
    transition: all 0.3s;
  }
  .searchbutton:hover{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.66);
  }
  #searchbox{
    width: 350px;
    height: 35px;
    border-radius: 20px;
    transition:all 0.3s;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.33);
  }
  #searchbox:focus{
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.66);
  }
  #searchbox:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.66);
  }
  input#searchbox[type=text]::placeholder{
    text-align: center;
    padding-left: 20px;
    color: rgb(88, 88, 88);
  }
  input#searchbox, select, textarea{
      text-align: center;
      color: black;
  }
  .result{
    position: relative;
  }.cityname{
    font-size: 45px;
    font-weight: 600;
  }.degree{
    font-size: 35px;
  }.humidity{
    font-size: 25px;
  }
  @media only screen and (max-width:1350px) {
    .result{
      width: 100%;
    }
  }
  @media only screen and (min-width:720px) {
    #searchbox{
      width: 720px;
  
    }
    .searchbutton{  
      margin-left: 325px;
    }
  }