<head>
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<style>
      /* Full-width input fields */
    .inputBox {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    /* Set a style for all buttons */
    .subbutton {
      background-color: black;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: 2px solid black;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .subbutton:hover {
      color: black;
      background-color: white;
    }

    button:hover {
      opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
      color: white;
      width: auto;
      padding: 10px 18px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: black;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .cancelbtn:hover {
      color: black;
      background-color: transparent;
    }

    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    .avatar {
      font-size: 60px;
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.password {
      float: right;
      padding-top: 16px;
    }

    /* The Modal (background) */
    .modal1 {
      display: block;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: black;
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }

    .modal2 {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: black;
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 40%;
      /* Could be more or less, depending on screen size */
    }

    @media only screen and (max-width: 600px) {
      .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
      }
    }

    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s;
    }

    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0);
      }

      to {
        -webkit-transform: scale(1);
      }
    }

    @keyframes animatezoom {
      from {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      to {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.password {
        display: block;
        float: none;
      }

      .cancelbtn {
        width: 100%;
      }
    }

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    .loginopen {
      display: block;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeEffect {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

</style>
<script>
    const red = ()=>{
        window.location.href = '/';
    } 
</script>
 <div id="id01" class="modal1">
      <form class="modal-content animate" action="/login" method="post">
        <div class="imgcontainer">
          <span onclick="red()" class="close"
            title="Close Modal">&times;</span>
          <i class="fas fa-user avatar"></i>
        </div>

        <div class="container">
          <label for="email"><b>Username</b></label>
          <input class="inputBox" type="text" placeholder="Enter Username" name="username" required>

          <label for="password"><b>Password</b></label>
          <input class="inputBox" type="password" placeholder="Enter Password" name="password" required>

          <button type="submit" class="subbutton">Login</button>

        </div>

        <div class="container" style="padding-bottom:40px;background-color:#f1f1f1">
          <button type="button" onclick="red()" class="cancelbtn">Cancel</button>

        </div>
      </form>
    </div>